//////////////////// Custom styles and variables

// Body style
$body-bg: #f9fafb;
$body-color: #374151;

// Font family
$font-family-sans-serif: 'Poppins', sans-serif;

// Colors
$primary: #ef4444;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
